<div class="form-inline">
  <div class="form-container-lg">
  <%= form_for(@feedback) do |f| %>
    <% if @feedback.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@feedback.errors.count, "error") %> borked this form. Check it out and try again:</h2>

        <ul>
        <% @feedback.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group-left">
      <%= f.label :link_address, "1. Give me a link to your file in Drive or a Skitch screenshot" %><br/>
      <%= f.text_field :link_address, placeholder:"Plop the full URL here", class:"form-control span6" %>
    </div>
    <br />
    <div class="form-group-left">
      <%= f.label :whatkind, "2. Tell me what kind of feedback you're looking for" %><br/>
      <%= f.text_field :whatkind, placeholder:"Like... overall concept? User flow? Visual design?", class:"form-control span6" %>
    </div>
    <br />
    <div class="form-group-left">
      <%= f.label :comments, "3. Give me some context about what you're working on & where you're at" %><br/>
      <%= f.text_area :comments, placeholder:"What's the project, what stage are you at, what's your goal?", class:"form-control span6", rows:3 %>
    </div>
    <br />
      <%= f.submit "Send for Feedback", class:"btn" %>
  <% end %>
  </div>
</div>
