<%= form_for(@distraction) do |f| %>
  <% if @distraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@distraction.errors.count, "error") %> prohibited this distraction from being saved:</h2>

      <ul>
      <% @distraction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
