<h1>Jeff, you deserve a break.</h1>
<br />
<% @distractions.each do |distraction| %>
    <p><strong><%= distraction.description if distraction.description.present? %></strong>
    <% if distraction.time.present? %>
      (<%= distraction.time %> minutes)</p>
    <% end %>
    <br />
    <%= button_to "Try this", distraction.link, :target => "_blank", class:"btn btn-success" %>
    <br />

  <% if current_user && current_user.admin? %>
    <p><%= link_to 'Edit', edit_distraction_path(distraction) %> &nbsp;|&nbsp;
    <%= link_to 'Delete', distraction, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
<% end %>
<br />
<%= image_tag "campfireicon.png", alt:""%>
<br />
<br />
<br />
<p>Cool.</p>
<%= button_to "Try another", distractme_path, class:"btn btn-mini" %>
<%= image_tag "mug.png", alt:"", class:"image" %>